<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <a class="active" href="Profile"><i class="fa fa-user" aria-hidden="true"></i></a>
  <a href="kort"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
  <a href="menu"><i class="fa fa-home" aria-hidden="true"></i></a>
  <a href="Overblik"><i class="fa fa-line-chart" aria-hidden="true"></i></a> 
  <a href="Settings"><i class="fa fa-cog" aria-hidden="true"></i></a>
</div>


 